{% load static %}

<div id="draw-history-page">
  <div class="page-header">
    
  </div>
  <div class="draw-history-list">
    <h3>Draw</h3>
    <ul id="draw-list">
      <!-- Dummy draw data -->
      <li>Draw: 1200</li>
      <li>Draw: 1201</li>
      <li>Draw: 1202</li>
    </ul>
  </div>
  <div class="draw-history-list">
    <h3>Results</h3>
  </div>
</div>



<div class="row">
  <div id="oldresults" class="col-md-12">
    <h2>Draw and Results</h2>
  </div>
  <div id="lastdraws" class="col-md-12">
    <h3>your selections</h3>
  </div>
  <div class="col-md-12">
    <ul id="history-list">
      <!-- Dummy results data -->
      <li>Results: 2 | 7 | 8 | 9 | 4 | 6 | 1</li>
      <li>Results: 3 | 5 | 1 | 0 | 4 | 9 | 2</li>
      <li>Results: 7 | 2 | 5 | 8 | 3 | 6 | 0</li>
    </ul>
  </div>
</div>