{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{% static 'great/favicon.ico' %}">
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'great/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'great/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'great/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'great/site.webmanifest' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keno</title>
    <script type="module" crossorigin src="{% static 'great/assets/index-001.js' %}"></script>
    <!-- <script type="module" crossorigin src="{% static 'great/assets/index-002.js' %}"></script> -->
    <link rel="stylesheet" href="{% static 'great/assets/index.css' %}">
  </head>
  <body>
    <div id="app"></div>
    
  </body>

</html>
