{% load static %}
<div id="modal-wrapper_cancel" class="active" style="display: none;">
    <div id="modal-confirmation_cancel">
        <div id="modal-header_cancel">
            <h3><i class="fa fa-home"></i> Cancel ticket</h3>
            <span data-confirm="0" class="modal-action" id="modal-close_cancel">
                <i class="fa fa-times" aria-hidden="true"></i>
            </span>
        </div><div id="modal-content_cancel">
            <p>Are you sure you want to cancel this ticket?</p>
        </div><div id="modal-buttons_cancel">
            <button class="modal-action" data-confirm="0" onclick="$('#modal-wrapper_cancel').toggle();" id="modal-button-no_cancel">No</button>
            <button class="modal-action" data-confirm="1" id="modal-button-yes_cancel" onclick="cancelTicket('keno')">Yes</button>
        </div>
    </div>
</div>
