<div id="printJsFormKenoDispyMain">
    <div class="mainDivTik" id="mainDivTik" style="padding-right: 5px;">
      <div class="div1">
        <div class="floatLeft">
          <b> <span id="TPTgameId">#ID</span></b> 
        </div>
        <div class="floatRight minitext" style="text-align: right; font-family: Arial, Helvetica, sans-serif; ">
          <div id="TPTidd" style="font-size:10px"></div>
          <div id="TPTagent" style="font-size:10px">agent</div>
          <div id="TPTcashier" style="font-size:10px">cashier</div>
          <div style="font-size:10px"><span id="TPTdate"></span> (UTC +3)</div>
        
        </div>
      </div>
      <div id="TPTreprinted" style=" rotate: -20deg; position: absolute; font-size:35px; opacity: .2; z-index: -10;  margin: auto; left: 50px;display: none;">
        RE-PRINTED
      </div>
      <div id="TPTcopied" style="position: absolute; z-index: -10; margin:auto;  font-size:68px;left: 50px; rotate: -20deg; opacity: .2; display: none;">
        COPY
      </div>
      <div class="div2 ">
        <div id="TPTselection">
          <div>
            <span id="TPTtowin" style="font-weight: 400;">Win()</span>
          </div>
          <div>
            <span class="floatLeft">selection1</span>
            <span class="floatRight">odd1</span>
          </div>
          <br>
          <br>
          <div>
            <span id="TPTtowin" style="font-weight: 400;">Win()</span>
          </div>
          <div>
            <span class="floatLeft">selection1</span>
            <span class="floatRight">odd1</span>
          </div>
          <br>
        </div>
      </div>
      <div>
        <span class="floatLeft" style="font-weight: bold;">Total stake</span>
        <span class="floatRight" id="TPTstake">stake</span>
      </div>
      <br>
      <div class="div3">
        <div>
          <span class="floatLeft">Min Payout(Incl. Stake)</span>
          <span class="floatRight" id="TPTwinMin">stake</span>
        </div>
        <div>
          <span class="floatLeft">Max Payout(Incl. Stake)</span>
          <span class="floatRight" id="TPTwinMax">Win</span>
        </div>
      </div>
      <div class="div4">
        <center>
          <div>
            <svg id="TPTgameIdbarcode" class="barcode"></svg>
          </div>
          <div class="minitext" style="font-size: 8px;" id="TPTstandards">
            standards apply
          </div>
          <br>
          <div class="minitext" style="font-size: 10px;">
            B0833FEE5B0
          </div>
        </center>
      </div>
    </div>
  </div>