
<div id="reportPrintHere">
    <center>
    <div style=" margin-top: 9px;  height: 300px;font-family: Arial, Helvetica, sans-serif;">
        <div style="width: 260px; position: relative;">
            <div style="width: 230px;">
            <div style="border: 1px solid black;">
                <div class="divTable gapy">
                
                    <strong>CASHIER REPORT</strong>
                    
                </div>
            
                <div class="divTable">
                    <span style="margin-top: 2px; font-family: monospace; font-size: 10px;"><span id="kenoSlipId"></span> </span>
                </div>
          </div>
                <div class="divTable">
    
                    <div class="_1" style="position:relative; height: 140px;">
                        <span id="barcodeIdKeno" style="font-size:13px"></span>
                        <div style="float: left;font-size:10px; padding-left:2px;text-align:left">
                            <p>:::</p>
                            <p>Tot. Bets(No.)</p>
                            <p>Tot. Sales(ETB)</p>
                            <p>Redeemed(ETB)</p>
                            <p>Canceled(ETB)</p>
                            <p> <strong>Net(ETB)</strong></p>
                        </div>
                        
                        <div style="float: right; font-size:10px;padding-right:5px; text-align:right">
                            
                                <u><p id="dateKenoSlipy"></p></u>
                                <b><p id="betCountKenoSlipy"></p>
                                <p id="payinKenoSlipy"></p>
                                <p id="payoutKenoSlipy"></p>
                                
                                <p id="canceledBetKenoSlipy"></p></b>
                                <u><strong><p id="netKenoSlipy"></p></strong></u>
                                </div>
                                
                        </div>
                        <div style="border: 1px solid black;">
                          <span style="font-family: monospace; font-size: 10px;" id="kenoSlipTime"></span>
                    
                        </div>
                    </div>
                    
                </div>
            </div>
    </div>    
    </center>
</div>
